# #PROJECT-1

In [4]:
import pandas as pd
kez=pd.read_table('C:\\Users\\Lenovo\\Desktop\\tempor.csv')
kez.head()

  Name,Age,Parent_Addr.,Cont_no,Email_Id
0     Keziah,18,Mumbai,9876543122,so@acx
1     Arati,17,Odisha,7654321906,wae@ter
2  Sujata,20,Hydrabad,2345678901,tar@iop
3        Kishor,21,UP,5438426189,wet@oop
4      Vivek,19,Ranchi,1235456789,po@qaz

In [5]:
kez=pd.read_csv('C:\\Users\\Lenovo\\Desktop\\tempor.csv')
print(kez)

     Name  Age Parent_Addr.     Cont_no Email_Id
0  Keziah   18       Mumbai  9876543122   so@acx
1   Arati   17       Odisha  7654321906  wae@ter
2  Sujata   20     Hydrabad  2345678901  tar@iop
3  Kishor   21           UP  5438426189  wet@oop
4   Vivek   19       Ranchi  1235456789   po@qaz

In [6]:
kez.head()

     Name  Age Parent_Addr.     Cont_no Email_Id
0  Keziah   18       Mumbai  9876543122   so@acx
1   Arati   17       Odisha  7654321906  wae@ter
2  Sujata   20     Hydrabad  2345678901  tar@iop
3  Kishor   21           UP  5438426189  wet@oop
4   Vivek   19       Ranchi  1235456789   po@qaz

In [17]:
condition=True
stdinfo=input("Enter the students information in following format (Name  Age  Parent_Addr.  Cont_no.  Email_Id ): ")
print("Enter info:",stdinfo)

stdinfo_list=stdinfo.split(' ')
print("Entered split up info: ", str(stdinfo_list))

conditionck=input("Enter (yes/no) if you want the inforamtion for another students: ")
if conditionck=="yes":
    condition=True
elif conditionck=="no" :
    condition=False

Enter the students information in following format (Name  Age  Parent_Addr.  Cont_no.  Email_Id ): Sujata,20,Hydrabad,2345678901,tar@iop
Enter info: Sujata,20,Hydrabad,2345678901,tar@iop
Entered split up info:  ['Sujata,20,Hydrabad,2345678901,tar@iop']
Enter (yes/no) if you want the inforamtion for another students: yes